# Dépendances
node_modules/

# Sortie de build / compilation
dist/

# Variables d'environnement et secrets
.env
.env.test
.env.local
*.env

# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers générés par Prisma (Sauf si vous contrôlez finement l'emplacement)
/generated/prisma
/src/config/firebase-service-account.json

# Divers OS
.DS_Store
Thumbs.db